html,body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
    font-family: Inter;
}

.header .help-header{
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
    background-color: #f9f9fb;
}

.help-link{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #1b1b1b;
}

.help-link .link{
    color: #872bff;
}

.header .menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
}

.header .navigation{
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    gap:1rem;
}

.navigation__icon-logo{
    width: 159px;
    height: 24px;
}

.navigation .list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.nav-item{
    min-width: max-content;
    margin: 0 10px;
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
}

.nav-item__version{
    vertical-align: top;
    background-color: #d00058;
    padding: 2px 4px;
    border-radius: 1em;
    font-weight: 700;
    font-size: .45rem;
    color: #ffffff;
}

.navigation-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.navigation .light-switch{
    display: flex;
}

.light-switch__icon-switch{
    size: 16px;
    margin: 0 -1px;
}

.light-switch__span{
    font-weight: 600;
    font-size: 13px;
    color: #4e4e4e;
}

.menu-header .navigation-form{
    width: 75px;
    margin: 0;
    border: 2px solid #b3b3b3;
    display: flex;
    gap: 5px;
    padding: 5px 8px;
    border-radius: 16px;

}

.navigation-form__input{
    width: 100%;
    border:none;
}

.navigation-form__input:focus{
    outline: none;
}

.header-navigation.link{
    text-decoration: none;
    display: inline-block;
    min-width: max-content;
    font-weight: 600;
    font-size: 13px;
    color: #4e4e4e;
}

.navigation-menu .button{
    display: inline-block;
    min-width: max-content;
    background-color: #1b1b1b;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    padding: 6px 16px;
    border-radius: 4px;
    border: none;
}

.menu-icon{
    margin-top: 24px;
    margin-right: 20px;
}

.breadcrumbs{
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #cdcdcd;
    background-color: #f9f9fb;
}

.breadcrumbs__container{
    display: flex;
    font-weight: 400;
    font-size: 15px;
    color: #4e4e4e;
}

.row:not(:last-child)::after{
    content: "\003E";
    margin: 0 10px;
    color: #cdcdcd;
}

.button .change-language-btn{
    display: flex;
    gap: 0.3rem;
    font-weight: 600;
    font-size: 13px;
    color: #4e4e4e;
}

.change-language-btn__icon{
    width: 16px;
    height: 16px;
    margin: 0 -1px;
}

.main{
    display: flex;
    justify-content: space-between;
}

.menu__main-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    border-right: 1px solid #cdcdcd;
}

.menu-filter-form{
    width: 107px;
    margin: 8px 8px 32px;
    border: 2px solid #b3b3b3;
    display: flex;
    gap: 5px;
    padding: 5px 8px;
    border-radius: 16px;
}

.form-input{
    width: 100%;
    border:none;
}

.form-input:focus{
    border: none;
    outline: none;
}

.main-list__heading{
    margin-top: 0;
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #4e4e4e;
}

.main .topic-main{
    padding-left: 20px;
}


.main-topic{
    list-style-type: none;
    margin-bottom: 22px;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 14px;
    color: #4e4e4e;
}

.main-info{
    list-style-type: none;
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 12px;
    color: #4e4e4e;
}

.main-item::after{
    content: "\25BA";
}

.main .topic-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 85px;
}

.main-item{
    list-style-type: none;
    margin: 15px 0;
    font-weight: 400;
    font-size: 13px;
    color: #4e4e4e;
    display: flex;
    gap: 0.3rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.topic-main__Guides{
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 2.5rem;
    font-weight: 600;
    font-size: 16px;
    color: #4e4e4e;
}

.guide-item{
    list-style-type: none;
    margin: 15px 0;
    font-weight: 400;
    font-size: 13px;
    color: #4e4e4e;
}

.main__content{
    display: flex;
}

.main__content p{
    width: 100%;
    padding: 35px;
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
}

.content__article{
    margin-right: 90px;
}

.content__content-heading{
    font-weight: 400;
    font-size: 16px;
    color: #1b1b1b;
    margin-bottom: 0;
    margin-top: 45px;
    letter-spacing: 2px;
}

.content-navigation{
    padding: 0;
    margin-right: 50px;
}


.content-item{
    list-style-type: none;
    border-left: 2px solid #cdcdcd;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 12px;
    color: #4e4e4e;
}

.footer{
    background-color: #f9f9fb;
    margin-top: 16px;
    padding: 32px 16px;
}

.main-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
}

.footer .social-links__phrase{
    font-weight: 400;
    font-size: 14px;
    color: #696969;
    margin-top: 8px;
}

.icon-social-links{
    margin-top: 30px;
    display: flex;
    gap: 1rem;
}

.main .footer-list{
    margin-top: 0;
}

.footer-topik{
    padding: 0;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    color: #4e4e4e;
}

.footer-item{
    list-style-type: none;
    margin-top: 16px;
    font-weight: 400;
    font-size: 11px;
    color: #4e4e4e;
}

.footer-link{
    color: #4e4e4e;
}

.breadcrumbs__link{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
}

.breadcrumbs__logo-footer{
    padding: 0;
}


.breadcrumbs__list-link{
    display: flex;
    flex-direction: row;
}

.link-iteam{
    margin: 0 4px;
    list-style-type: none;
    font-weight: 400;
    font-size: 10px;
    color: #4e4e4e;
}

.footer-comment{
    font-weight: 400;
    font-size: 10px;
    color: #4e4e4e;
}

.footer-comment__link{
    color: #4e4e4e;
}

@media  screen and (min-width: 1200px) {
    .main-list-none{
        display: none;
    }


    
}

@media screen and (max-width: 1200px) {
    .content__article__none{
        display: none;
        
    }
    
}

@media  screen and (max-width: 990px) {
    .navigation .list{
        display: none;
    }

    .navigation-menu{
        display: none;
    }

    .footer-list__one{
        display: flex;
    }

    .footer-list__second{
        display: flex;
    }

}

@media  screen and (min-width: 990px) {
    .menu-icon{
        display: none;
    }

    .nav-item{
        margin: 0;
    }

    .footer-list__one{
        display: flex;
    
    }

    .footer-list__second{
        display: flex;
    }
}

@media screen and (max-width:431px) {
    .menu__main-menu {
        display: none;
    }
    .help-link{
        display: none;
    }

    .main-footer{
        flex-direction: column;
        height: 100%;
    }
    
    .footer-list__one{
        display: flex;
        flex-direction: row;
        background-color: #f9f9fb;
        width: 100%;
    }

    .footer-list__second{
        display: flex;
        flex-direction: row;
        background-color: #f9f9fb;
        width: 100%;
    }

    .breadcrumbs__link{
        flex-direction: column;
    }

    .breadcrumbs__list-link{
        flex-direction: column;
    }
}

@media screen and (max-width: 281px) {
    .button.change-language-btn{
        margin-left: 20px;
    }
}
